In [1]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]

In [2]:
c

46

In [4]:
b[0] = 100

In [5]:
a

array([  0,   1,   2,   3, 100,  40,   6,   7])

In [6]:
import re
s = 'ABCAC'

In [10]:
re.match('A', s)

In [26]:
for item in re.finditer('([B-Z]+)(AAA)', 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'):
    print(item.group(1))

C
F
CB

In [27]:
import pandas as pd

In [32]:
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

In [34]:
s1

a    10
b    20
c    30
dtype: int64

In [35]:
s2 = pd.Series([20, 30, 40, 50], index=['b', 'c', 'd', 'e'])

In [36]:
s1.add(s2)

a     NaN
b    40.0
c    60.0
d     NaN
e     NaN
dtype: float64

In [41]:
s2['b':'e']

b    20
c    30
d    40
e    50
dtype: int64

In [52]:
df = pd.DataFrame({'Item': ['i1', 'i2', 'i1', 'i2', 'i1'], 'Store': ['a', 'b', 'b', 'b', 'a'], 'Quantity': [10, 20, 30, 40, np.nan]})

In [54]:
df.groupby('Item').sum()

      Quantity
Item
i1        40.0
i2        60.0

In [55]:
df

  Item Store  Quantity
0   i1     a      10.0
1   i2     b      20.0
2   i1     b      30.0
3   i2     b      40.0
4   i1     a       NaN

In [58]:
df.apply(lambda x: x.max() + x.min())

Item        i2i1
Store         ba
Quantity      50
dtype: object